.sectionClients {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sectionClients h2 {
  width: 80%;
  font-size: 4.5vw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 300;
  line-height: 0.9;
  color: black;
  text-align: center;
}

.sectionClients h2 span {
  font-weight: 900;
  color: #ff6a00;
}

.sectionClients p {
  width: 65%;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 100;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.flexClients {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
  padding: 0px 10%;
  overflow-x: hidden;
  transition: 0.5s ease;
}

.sliderTrack {
  width: auto;
  height: 100%;
  display: flex;
  gap: 5vw;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

.flexClients::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
  height: 0px;
}

.flexClients::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.flexClients::-webkit-scrollbar-track {
  background-color: transparent;
}

.item {
  flex: 0 0 auto;
  position: relative;
  min-width: 35%;
  height: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
}

@media (max-width: 850px) {
  .sectionClients {
    height: 600px;
    gap: 30px;
  }

  .sectionClients h2 {
    font-size: 10.8vw;
  }

  .sectionClients p {
    font-size: 1.5rem;
  }

  .flexClients {
    height: 130px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
  }

  .sliderTrack {
    gap: 6vw;
  }

  .item {
    min-width: 75%;
    height: 100%;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
}
