.item {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoItem {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  padding-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
}

.infoItem h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  font-weight: 500;
  width: 80%;
  text-align: center;
  margin-bottom: 5px;
}

.iconTwo {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.item:hover {
  width: 100%;
}

.item:hover .infoItem {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(33, 33, 33, 0.834));
}

.item:hover .infoItem h3 {
  color: white;
}

.item:hover .infoItem .iconTwo {
  color: white;
}

.boxBtns, .boxBtnsTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  gap: 10px;
  z-index: 10000;
}

.boxBtns button,
.boxBtns a,
.boxBtnsTwo button,
.boxBtnsTwo a{
  border: none;
  background: linear-gradient(to Top, #ff5e00, #f6ae00);
  height: 35px;
  color: white;
  width: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
}

.boxBtnsTwo button{
  background: linear-gradient(to Top, transparent, transparent);
  border: 2px solid white;
}

.boxBtns a{
  background: linear-gradient(to Top, green, rgb(0, 169, 0));
}

.boxBtnsTwo a {
  background: linear-gradient(to Top, #ffffff, #e7e7e7);
  text-decoration: none;
  border: 2px solid white;
}

.boxBtns button p,
.boxBtns a p,
.boxBtnsTwo button p,
.boxBtnsTwo a p {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.boxBtnsTwo a p {
  color: green;
  font-weight: 500;
}

.boxBtns button .icon, .boxBtnsTwo button .icon {
  font-size: 1rem;
  transform: rotate(-45deg);
}

.boxBtnsTwo button .icon{
  transform: rotate(135deg)
}

.boxBtnsTwo a .icon{
  color: green;
}

.boxBtns a .icon, .boxBtnsTwo a .icon {
  transform: rotate(0deg);
  font-size: 1.2rem;
}

.containerShow {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.848);
  color: white;
  z-index: 10000;
}

.showOn {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10000;
  background: linear-gradient(to Bottom, #ff5e00, #c07000);
}

.boxBtns button:hover,
.boxBtns a:hover,
.boxBtnsTwo button:hover,
.boxBtnsTwo a:hover {
  transform: scale(1.1);
}

.infoGeneral {
  width: 85%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.infoGeneral h3 {
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  width: 80%;
}

.infoGeneral ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  z-index: 100000;
}

.infoGeneral ul::-webkit-scrollbar {
  background-color: #ffffff2c;
  width: 6px;
  height: 0px;
}

.infoGeneral ul::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 50px;
}

.infoGeneral ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.infoGeneral ul li {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
  line-height: 1.2;
  list-style: inside;
}

.containImage {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBgShow {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  object-position: right;
  opacity: 0.5;
}

@media (max-width: 850px) {
  .item {
    width: 100%;
    height: 65vh;
  }

  .item:hover {
    width: 100%;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px 50px 0px 0px;
  }

  .infoItem h3 {
    font-size: 1.5rem;
  }

  .boxBtns {
    flex-direction: column;
  }

  .boxBtns button,
  .boxBtns a {
    height: 45px;
  }
}
