.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(#2a2a2acc, #000000e7);
}

.btnUp {
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(to Top, #ff5e00, #f6ae00);
  border: 2px solid #ff6a00;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: -35px;
  transition: 0.2s ease;
}

.btnUp:hover {
  transform: scale(1.1);
}

.btnUp .icon {
  color: white;
  font-size: 1.7rem;
}

.containFooter {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}

.leftFooter {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.leftFooter img {
  margin-bottom: 50px;
}

.leftFooter p {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.rightFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

.rightFooter ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.rightFooter ul li {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.socialMediaFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -15px;
}

.btnSocial {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.btnSocial .icon{
  color: white;
}

.btnSocial:hover {
  background-color:  #003283;
}

@media (max-width: 550px) {
  .containFooter {
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .leftFooter {
    width: 100%;
    align-items: center;
  }

  .leftFooter img {
    margin-bottom: 30px;
  }

  .rightFooter {
    align-items: center;
    gap: 15px;
  }

  .rightFooter ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
